@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: regular;
  color: #0B0D39;
  opacity: 60%;
}

h1 span {
  color: #356DFF;
}

h4 {
  font-size: 80px;
}
h4 span {
  color: #356DFF;
}

.small_head {
  margin: 10px 0;
}
.small_head span {
  padding: 13px 26px;
  border-radius: 36px;
  letter-spacing: 10px;
  color: #FF9100;
  border: none;
  background: #F5E6CA;
}

button {
  padding: 22px 44px;
  border: 2px solid black;
  font-size: 20px;
  border-radius: 43px 43px 43px 12px;
  background: none;
  color: #0B0D39;
  background: balck;
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1513px;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  -ms-grid-rows: (1fr)[auto];
  grid-template-rows: repeat(auto, 1fr);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "DM Sans";
  overflow-x: hidden;
}

/*================ Header ==========*/
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 31px;
  padding: 31px;
  border-radius: 62px;
  -webkit-box-shadow: 0px 19px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 19px 50px rgba(0, 0, 0, 0.08);
}
.header .container .menu li {
  display: inline-block;
  list-style: none;
  margin: 0 35px;
}
.header .container .menu li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: medium;
  color: #0B0D39;
  opacity: 60%;
}
.header .container .menu li a:hover {
  opacity: 100%;
}
.header .container .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}
.header .container .right_side button {
  padding: 17px 29px;
  border: 1px solid #ECECEC;
  background: none;
  border-radius: 43px;
  font-size: 18px;
  font-weight: medium;
}
.header .container .right_side button:hover {
  background: #0B0D39;
  cursor: pointer;
  color: #FFFFFF;
}
.header .container .toggole {
  display: none;
  padding-right: 20px;
}

/*================ Startup ==========*/
.startup .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1040px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.startup .container .text_side {
  max-width: 50%;
}
.startup .container .text_side p {
  margin: 50px 0;
}
.startup .container .text_side .button_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.startup .container .text_side .button_two button:hover {
  background: #356DFF;
  border: #356DFF;
  color: #FFFFFF;
}
.startup .container .right_side_img {
  grid-column: auto/span 6;
}
.startup .container .right_side_img img {
  width: 100%;
}

/*================ Features ==========*/
.features {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F2FBFC;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 110px;
  border-radius: 40px;
}
.features .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.features .container .Features_four {
  grid-column: auto/span 2;
}
.features .container .Features_four h2 {
  margin: 19px;
}
.features .container .Features_four p {
  font-size: 16px;
  font-weight: regular;
  color: #0B0D39;
  opacity: 60%;
}

/*================ From Design ==========*/
.from_design {
  margin-top: 123px;
  margin-bottom: 181px;
}
.from_design .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.from_design .container .left_text_side {
  grid-column: auto/span 5;
  max-width: 50%;
}
.from_design .container .left_text_side p {
  text-align: justify;
}
.from_design .container .right_side_image {
  grid-column: auto/span 5;
}
.from_design .container .right_side_image img {
  width: 100%;
}

/*================ From Design ==========*/
.Testimonials {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F2FBFC;
  text-align: center;
  padding-top: 69px;
  border-radius: 40px;
  position: relative;
}
.Testimonials .img_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Testimonials .img_area h1 {
  margin-right: 30px;
}
.Testimonials .img_area img {
  margin-left: -30px;
}
.Testimonials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 52px;
     -moz-column-gap: 52px;
          column-gap: 52px;
  text-align: left;
  padding: 79px;
  position: relative;
  overflow-x: hidden;
}
.Testimonials .container .clients {
  -ms-grid-column-span: 6;
  grid-column: span 6;
  background: #FFFFFF;
  border-radius: 50px;
  padding: 50px;
  -webkit-box-shadow: 0px 19px 50px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 19px 50px rgba(0, 0, 0, 0.08);
  position: relative;
}
.Testimonials .container .clients p {
  margin: 35px 0;
  min-width: 661px;
}
.Testimonials .container .clients .clients_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 35px;
}
.Testimonials .container .clients .clients_img span {
  color: #0B0D39;
  opacity: 80%;
}
.Testimonials .button_area {
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Testimonials .button_area span {
  padding: 30px;
  background: #FFFFFF;
  border-radius: 100%;
  color: #0B0D39;
}
.Testimonials .button_area span:hover {
  background: #0B0D39;
  color: #FFFFFF;
}

/*================ Knowdge ==========*/
.knowledge {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 131px;
  padding-bottom: 117px;
}
.knowledge h1 {
  margin-bottom: 63px;
}
.knowledge .container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}
.knowledge .container .three_cloumn {
  grid-column: auto/span 3;
  margin-bottom: 79px;
  padding: 23px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);
  text-align: left;
}
.knowledge .container .three_cloumn img {
  width: 100%;
}
.knowledge .container .three_cloumn h2 {
  margin-top: 23px;
  line-height: 35px;
  max-width: 276px;
}
.knowledge .container .three_cloumn .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.knowledge .container .three_cloumn .bottom svg {
  border: 1px solid #DCDCE3;
  padding: 30px;
  background: #FFFFFF;
  border-radius: 100%;
  color: #0B0D39;
}
.knowledge .container .three_cloumn .bottom svg:hover {
  background: #0B0D39;
  color: #FFFFFF;
  cursor: pointer;
}
.knowledge .bottom_button button:hover {
  background: #0B0D39;
  color: #FFFFFF;
}

/*================ Fire Rocket ==========*/
.fire_rocket {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1675px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F2FBFC;
  margin-top: 20px;
}
.fire_rocket .container {
  display: -ms-grid;
  display: grid;
}
.fire_rocket .container .left_img {
  margin-top: -70px;
  margin-left: -75px;
}
.fire_rocket .container .left_img img {
  width: 100%;
  -webkit-transform: rotateY(-158deg);
          transform: rotateY(-158deg);
  margin-top: -70px;
}
.fire_rocket .container .right_text p {
  margin: 30px 0;
}
.fire_rocket .container .right_text button:hover {
  background: #0B0D39;
  color: #FFFFFF;
}

/*================ Hello Startup ==========*/
.hello_startup {
  padding-top: 191px;
  padding-bottom: 111px;
}
.hello_startup .container {
  display: -ms-grid;
  display: grid;
}
.hello_startup .container .two_left {
  grid-column: auto/span 6;
}
.hello_startup .container .two_left h1 {
  margin: 35px 0 53px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 58px;
     -moz-column-gap: 58px;
          column-gap: 58px;
}
.hello_startup .container .two_left h1 svg {
  padding: 21px;
  background: #356DFF;
  border-radius: 100%;
  color: #FFFFFF;
}
.hello_startup .container .two_left .Social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hello_startup .container .two_left .Social_media svg {
  padding: 22px 20px;
  border: 1px solid #DCDCE3;
  border-radius: 100%;
}
.hello_startup .container .two_right {
  grid-column: auto/span 6;
}
.hello_startup .container .two_right h2 {
  color: #0B0D39;
  opacity: 40%;
  margin-bottom: 50px;
}
.hello_startup .container .two_right .three_cloumns_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.hello_startup .container .two_right .three_cloumns_area .three_clumns li {
  list-style: none;
}
.hello_startup .container .two_right .three_cloumns_area .three_clumns li a {
  text-decoration: none;
  line-height: 53px;
  font-size: 24px;
  color: #0B0D39;
  opacity: 80%;
}
.hello_startup .container .two_right .three_cloumns_area .three_clumns li:hover a {
  opacity: 100%;
  font-weight: bold;
}

/*================ Footer ==========*/
.footer .container {
  text-align: center;
  padding: 45px 0;
  border-top: 1px solid #DBDBE6;
}

/*================ Common responsice ==========*/
@media (max-width: 1300px) {
  h4 {
    font-size: 60px;
  }
  button {
    padding: 10px 15px;
  }
  .header .container .menu li {
    margin: 0 10px;
  }
  .header .container .menu li a {
    font-size: 20px;
  }
  .startup {
    margin: 50px 0;
  }
  .startup .container {
    height: auto;
  }
  .hello_startup {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .knowledge {
    padding: 50px 0;
  }
  .knowledge .container {
    display: -ms-grid;
    display: grid;
  }
}
@media (max-width: 1024px) {
  .header .container .menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.87);
    top: 90px;
    height: 100vh;
    width: 95%;
    margin-left: -120%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 5;
  }
  .header .container .menu li {
    display: list-item;
    margin: 20px;
  }
  .header .container .menu li a {
    font-weight: bold;
    color: #FFFFFF;
    opacity: 100%;
  }
  .header .container .right_side {
    display: none;
  }
  .header .container .toggole {
    display: block;
    cursor: pointer;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
  h4 {
    font-size: 30px;
  }
  button {
    padding: 5px 9px;
    font-size: 10px;
    border: 0.2px solid #0B0D39;
  }
  p {
    font-size: 15px;
  }
  .startup .container .text_side p {
    margin: 20px 0;
  }
}